<h1><%= @list.name %></h1>

<% @list.product_lists.each do |product_list| %>
  <% if product_list.taken? %>
    <div class="card-product taken">
      <%= product_list.quantity %>
      <%= product_list.product.name %>
      <a href=""></a>
    </div>
  <% else%>
    <div class="card-product ">
      <%= product_list.quantity %>
      <%= product_list.product.name %>

      <a href=""></a>
    </div>
  <% end %>



<% end %>


<%= render "product_lists/new", locales: [@list, ProductList.new] %>
