<h1 class="show-title"><%= @list.name %></h1>

<% @product_lists.each do |product_list| %>
  <% if product_list.taken? %>
    <div class="card-product taken">
      <%= pluralize(product_list.quantity, product_list.unity, product_list.product.name.capitalize) %>
      <%= link_to list_product_list_take_path(@list, product_list) do %>
        <i class="fa-regular fa-square-check"></i>
      <% end %>
      <%= link_to "", [@list, product_list], method: :delete, data: { confirm: "En es-tu sûr ?" }, class: "fa-regular fa-trash-can product-can"%>
    </div>
  <% else%>
    <div class="card-product">
      <%= pluralize(product_list.quantity, product_list.unity, product_list.product.name) %>
      <%= link_to list_product_list_take_path(@list, product_list) do %>
        <i class="fa-regular fa-square"></i>
      <% end %>
      <%= link_to "", [@list, product_list], method: :delete, data: { confirm: "En es-tu sûr ?" }, class: "fa-regular fa-trash-can product-can"%>
    </div>
  <% end %>
<% end %>
<%= render "product_lists/new", locales: [@list, ProductList.new] %>
